.body{
    padding: 0;
    margin: 0;
}
.box{
    margin: 10px 2px;
    padding: 2px;
}
.searchbar{
    border: 1px solid rgb(177, 175, 175);
    width: 60%;
    padding: 0.2rem;
    border-radius: 40px ;
}
.searchbar>i{
    font-size: 10px;
    color: #777;
    padding: 0px 0px 7px 9px;
    margin: 0;
}
.searchbar > input{
    flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 14px;
	padding-left: 10px;
}

.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .side-bar a:hover {
    color: #000000;
  }
  
  .side-bar .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: visibility;
    padding: 16px;
  }
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
  border-top: 1px solid black ;
  padding: 1rem;
}
.box2{
  width: 80% !important; 
  height:80% !important;
  padding: 2rem;
}
.photos{
  height: 50vh;
  width: 100%;
  background-size:cover ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}
/* .carousel .carousel-indicators button {
  width: 10px;
 height: 10px;
 border-radius: 100%;
} */